<mat-sidenav-container fullscreen autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    class="navigation"
    [style.width]="isSidenavExpanded ? '175px' : '55px'"
  >
    <div class="header">
      <mat-icon
        [svgIcon]="isSidenavExpanded ? 'text-logo' : 'logo'"
        [ngStyle]="{
          width: isSidenavExpanded ? '120px' : '80px',
          height: isSidenavExpanded ? '30px' : '30px',
          'margin-top': isSidenavExpanded ? '10px' : '10px',
          'margin-left': isSidenavExpanded ? '8px' : '3px'
        }"
      ></mat-icon>
      <mat-icon
        [svgIcon]="isSidenavExpanded ? 'arrow-close' : 'arrow-open'"
        [ngStyle]="{
          width: isSidenavExpanded ? '30px' : '30px',
          height: isSidenavExpanded ? '16px' : '30px',
          'margin-top': isSidenavExpanded ? '18px' : '10px',
          'margin-left': isSidenavExpanded ? '5px' : '0px',
          'margin-right': !isSidenavExpanded ? '4px' : '0px'
        }"
        class="close-icon"
        (click)="toggleSidenav()"
      ></mat-icon>
    </div>
    <ng-container *ngFor="let item of navigationItems; let i = index">
      <div
        class="navigation-list"
        [ngStyle]="{
          backgroundColor: i === 0 ? '#dbdcfe' : 'transparent',
          width: isSidenavExpanded
            ? i === 0
              ? '145px'
              : '145px'
            : i === 0
            ? '36px'
            : '36px',
          borderRadius: i === 0 ? '4px' : '0px'
        }"
      >
        <mat-icon
          [svgIcon]="item.svgIcon"
          class="navigation-list-icon"
        ></mat-icon>
        <span
          class="navigation-list-text"
          *ngIf="isSidenavExpanded"
          [ngStyle]="{ color: i === 0 ? '#696ffb' : 'inherit' }"
          >{{ item.title }}</span
        >
      </div>
      <hr
        style="margin-top: 15px; border: 1px solid rgba(0, 0, 0, 0.16)"
        *ngIf="i === 3 || i === 6 || i === 9"
      />
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content
    [style.margin-left]="isSidenavExpanded ? '175px' : '55px'"
  >
    <mat-toolbar class="main-header">
      <span class="heading">Dashboard</span>
      <div style="display: flex; flex-direction: row">
        <div class="country-dropdown-wrapper">
          <div class="country-option" [matMenuTriggerFor]="countryMenu">
            <img
              class="flag-icon"
              [src]="selectedCountry?.flag"
              alt="Country flag"
            />
            <span class="country-name">{{ selectedCountry?.countryName }}</span>
            <mat-icon
              svgIcon="dropdown"
              style="width: 24px; height: 24px; margin-left: 50px"
            ></mat-icon>
          </div>
          <mat-menu #countryMenu="matMenu">
            <button
              mat-menu-item
              *ngFor="let country of countries"
              (click)="selectCountry(country)"
            >
              <div style="display: flex; flex-direction: row;" >
                <img
                  class="flag-icon"
                  [src]="country.flag"
                  alt="Country flag"
                />
                <span style="margin: 4px 0px 0px 10px; " class="country-name">{{ country.countryName }}</span>
              </div>
            </button>
          </mat-menu>
        </div>

        <div
          style="
            border: none;
            border-right: 1px solid rgba(0, 0, 0, 0.16);
            height: 50px;
            margin-right: 30px;
          "
        ></div>
        <mat-icon
          svgIcon="user"
          style="height: 30px; width: 30px; padding: 10px 15px 0px 0px"
        ></mat-icon>
      </div>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
